### Exercise 1: Annual salary data

In [1]:
# one solution using pandas
import pandas as pd

df = pd.read_csv("pysalarydata.csv", sep=",")
df

    Year  Median annual salary  Percentage change
0   1997                   NaN                NaN
1   1998                   NaN                NaN
2   1999               14888.0                NaN
3   2000               15800.0                6.1
4   2001               16438.0                4.0
5   2002               16964.0                3.2
6   2003               17508.0                3.2
7   2004               18172.0                3.5
8   2005               18949.0                4.3
9   2006               19521.0                3.0
10  2007               20000.0                3.2
11  2008               20811.0                4.1
12  2009               21310.0                2.4
13  2010               21212.0               -0.5
14  2011               21100.0                0.5
15  2012               21500.0                1.9
16  2013               21837.0                1.6
17  2014               22069.0                1.1
18  2015               22436.0                1.7
19  2016               23084.0                2.9
20  2017               23484.0                1.7
21  2018               24006.0                2.2

The file `pysalarydata.csv` contains the median annual salary of all workers from the years 1997 to 2018.

#### Task 1: How many years of data are included in this data set?

#### Task 2: Create a variable called `data` which contains the `median annual salary` column of data

#### Task 3: How many values are stored in this variable?

#### Task 4: What is the data type of each cell in data?

#### Task 5: Find the mean of the data

#### Task 6: Plot the data as a graph (hint: How to Plot a DataFrame using Pandas)